
:root {
  --blue: #2A776F;
  --orange: #D57618;
  --red: #AB1E24;
  --white: #FFFADD;
  --green: #5B7953;
  --sand: #FFC95E;
}

@font-face {
  font-family: 'Altone Trial Bold';
  src: url('./public/fonts/altone_trial-bold-webfont.woff2') format('woff2'), 
       url('./public/fonts/altone_trial-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Altone Trial Regular';
  src: url('./public/fonts/altone_trial-regular-webfont.woff2') format('woff2'), 
       url('./public/fonts/altone_trial-regular-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

body.about-me {
    background-image: url('/background-blue.png');
  }

  .about-me-text-container {
    padding-top: 5.5em;
    width: 40em;
    height: 30em;
    display: flex;
    flex-direction: column;
  }

  .about-me-hello-heading {
    font-family: 'Altone Trial Bold';
    color: var(--white);
    font-size: 5rem;
    letter-spacing: -1px;
  }

  .about-me-first-text-section {
    font-family: 'Altone Trial Regular';
    font-size: 3rem;
    color: var(--white);
    padding-top: 0.3em;
    letter-spacing: -1px;
  }

  .about-me-second-text-section {
    font-family: 'Altone Trial Regular';
    font-size: 2rem;
    color: var(--white);
    padding-top: 0.3em;
    letter-spacing: -1px;

  }

  #carl, #frontend-developer, #love, #javascript, #html, #css {
    font-family: 'Altone Trial Bold';
  }

  .about-me-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55em;
    height: 35em;
  }

  .profile-image {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 1.5em;
  }

  .buttons-container {
    width: 100%;
    height: 3em;
    padding-top: 4em;
    padding-left: 0.5em;
    display: flex;
    gap: 4em
  }

  .get-in-touch-button {
    position: relative;
    font-family: 'Altone Trial Bold';
    font-size: 1.5rem;
    width: 8em;
    height: 2em;
    background-color: var(--white);
    border: none;
    color: var(--orange);
  }

  .get-in-touch-button::before {
    content: '';
    position: absolute;
    left: -0.3em;
    top: 0.3em;
    height: 100%;
    width: 100%;
    background-color: var(--orange);
    z-index: -1;
  }

  .download-cv-button {
    position: relative;
    font-family: 'Altone Trial Bold';
    font-size: 1.5rem;
    width: 8em;
    height: 2em;
    background-color: var(--white);
    border: none;
    color: var(--red);
  }

  .download-cv-button::before {
    content: '';
    position: absolute;
    left: -0.3em;
    top: 0.3em;
    height: 100%;
    width: 100%;
    background-color: var(--red);
    z-index: -1;
  }
  