
.experience {
    display: flex;
    flex-direction: column;
    gap: 1em;
/*     padding-top:4em;
 */}

.content__heading--container {
    height: 4em;
    flex-shrink: 0;
}

.content__heading {
    font-family: 'General Sans BoldItalic';
    font-size: 3rem;
}

.content__info-container {
    font-family: 'General Sans Regular';
    display: flex;
    flex-direction: column;
    gap: 0em;
    margin-top: 1em;
}

.content__info-heading {
    font-family: 'General Sans Bold';

}

 .content__info {
    font-size: 1.5rem;
 }

 .bold {
    font-family: 'General Sans Bold';
 }