.section--hero {
    background-image: url('./images/hero-background.avif');
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--black);
    z-index: -1;
}

.heading__container--hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    width: 100%; 
    min-width: 20%;
    justify-content: center;
    margin-left: 14vw;
    margin-bottom: 6em;
    gap:0.5em;
}

.heading__hero--carl, .heading__hero--wiren, .heading__hero--frontend, .heading__hero--developer {
    font-size: 5rem;
    line-height: 4rem;
    letter-spacing: -5px;
    
}

.heading__status {
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.status {
    font-family: 'General Sans Bold';
    font-size: 1.6rem;
    display: flex;
    position: relative;
    padding-left: 1.2em;
}

.status::after {
    content: '';
    width: 13%;
    height: 45%;
    top: 27.6%;
    left: 5%;
    display: inline;
    transform: scale(0%);
    position: absolute;
    background-color: var(--black);
    border-radius: 100%;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;

}

.status__info {
    font-family: 'General Sans';
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: -1px;

}

.image__container--hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    min-width: 30%;
    min-height: 30%;
    background-color: transparent;
    margin-bottom: 17em;

}

.image__hero {
    aspect-ratio: 610 / 419;
    max-width: 20em;
    max-height: 13em;
    animation-name: eye;
/*     animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
    animation-delay: 1s; 
    transform: scale(1);
}

.hero-line {
    position: absolute;
    width: 0em;
    background-color: black;
    height: 0.1em;
    left: 14.4%;
    top: 21em;
    animation-name: hero-line-animation;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s; 
}

.letter {
    display: inline-block;
    transform: scalex(1);
    transform-origin:54%;
}

.letter-animation {
    animation: letter-turn 0.5s ease-in-out 1 forwards;
}

.letter-reverse {
    animation: letter-reverse 0.5s ease-in-out 1 forwards;
}

@keyframes letter-turn {
    from {
        transform: scalex(1);

    }
    to {
        transform: scalex(-1);

    }
}

@keyframes letter-reverse {
    from {
        transform: scalex(-1);

    }
    to {
        transform: scalex(1);

    }
}

@keyframes eye {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1);

    }    
}

@keyframes pulse {
    from {
        transform: scale(0%);
    }

    to {
        transform: scale(100%);
    }
}

@keyframes hero-line-animation {
    from {
        width: 0em;
    }
    to {
        width: 27em;
    }
}

@media screen and (max-width: 850px) {
    .section--hero {
        flex-direction: column;
    }
}