.navbar {
    
    font-family: 'General Sans Regular';
    width: 100%;
    position: absolute;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.navbar__list {
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar__link {
    color: var(--yellow);
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar__wrapper {
    min-width:50%;
    display: flex;
    justify-content: center;
    gap: 15em;
}

.navbar__wrapper--logo {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    padding-right: 5em;
}

.navbar__logo {
    width: 35px;
    height: auto;
}

