.navbar {
    font-family: 'General Sans Regular';
    width: 100%;
    position: absolute;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.navbar__link {
    color: var(--yellow);
    font-size: 1.2rem;
    text-decoration: none;
}

.weight {
    font-weight: 600;

}

.navbar__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7em 0 7em;
}

.navbar__logo {
    width: 35px;
    height: auto;  
}

.navbar__status {
    width: 100%;
    position: relative;
    z-index: 9999;
}

.navbar__status {
    display: flex;
    align-items: center;
    gap: 0.7em;
    min-width: 20em;
}

.status {
    font-family: 'General Sans Bold';
    font-size: 1.4rem;
    display: flex;
    position: relative;
    padding-left: 1.2em;
    color: var(--yellow);

}

.status__info {
    color: var(--yellow);
    font-family: 'General Sans';
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -1px;
    width: 20em;

}

.status::after {
    content: '';
    width: 13%;
    height: 45%;
    top: 27.6%;
    left: 5%;
    display: inline;
    transform: scale(0%);
    position: absolute;
    background-color: var(--yellow);
    border-radius: 100%;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;

}

.navbar__logo {
    align-self: center;
    padding-top: 5px;
}


@keyframes pulse {
    from {
        transform: scale(0%);
    }

    to {
        transform: scale(100%);
    }
}