
.about-me {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content__heading--container {
    height: 4em;
    flex-shrink: 0;
}

.content__heading {
    font-family: 'General Sans BoldItalic';
    font-size: 3rem;
}

@media screen and (max-width:430px) {
    .main__content {
        padding: 0 2em;
    }
}
