:root {
  --yellow: #EDD630;
}

#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'General Sans Regular';
  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'),
       url('/fonts/GeneralSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'General Sans Medium';
  src: url('/fonts/GeneralSans-Medium.woff2') format('woff2'),
       url('/fonts/GeneralSans-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'General Sans Bold';
  src: url('/fonts/GeneralSans-Bold.woff2') format('woff2'),
       url('/fonts/GeneralSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'General Sans BoldItalic';
  src: url('/fonts/GeneralSans-BoldItalic.woff2') format('woff2'),
       url('/fonts/GeneralSans-BoldItalic.woff') format('woff');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--yellow);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}